.e-learn__hero2-content_container {
    display: flex;
}

.e-learn__hero2-content-text {
    margin: auto 0;
    flex: 1;
    padding-right: 10rem;
}

.e-learn__hero2-content-image {
    flex: 1;
}

@media screen and (max-width: 1050px) {
    .e-learn__hero2-content_container {
        flex-direction: column;
    }
    .e-learn__hero2-content-text {
        justify-content: center;
        text-align: center;
        max-width: 700px;
        padding-right: 0;
        margin: 0 auto;
        margin-bottom: 5rem;
    }
    .e-learn__hero2-content-image {
        margin: 0 auto;
    }
}



